body{
	margin: 0;
	font-size: 16px; 
	background-color:#971806; 
}
*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
.custom-box{
	max-width: 700px;
	background-color: #090100;
	margin: 40px auto;
	padding: 30px;
	border-radius: 10px;
}
.home-box p{
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 22px;
	color:#000000;
	font-weight: 400;
}
.home-box p span{
	font-weight: 500;
}
.btn{
	padding: 15px 45px;
	background-color: #D4E6F1;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-family: "Times new Roman";
	font-size: 16px;
	cursor: pointer;
}