body{
	margin: 0;
	font-size: 16px; 
	background-color:#971806; 
}
*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
.custom-box{
	max-width: 700px;
	background-color: #99E8E2;
	margin: 40px auto;
	padding: 30px;
	border-radius: 10px;
}
.custom-box::before,
.custom-box::after{
	content: '';
	clear: both;
	display: table;
}
.custom-box .hide{
	display: none;

	}

.home-box p{
	padding: 15px 45px;
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 22px;
	color:#000000;
	font-weight: 400;
	align-content: center;
	
}
.home-box p span{
	font-weight: 500;
}
.btn{
	padding: 15px 45px;
	background-color: #D4E6F1;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-family: "Times new Roman";
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}
.quiz-box .question_number,
.quiz-box .question_text,
.quiz-box .option-container,

.quiz-box .next-question-btn,
.quiz-box .answer-indicator{
	width: 100%;
	float: left;
}
.quiz-box .question_number{
	font-size: 18px;
	color: #ABE899;
	font-weight: 600;
	border-bottom: 1px solid #E8B199;
	padding-bottom: 10px;
	line-height: 25px;
}
.quiz-box .question_text{

	font-size: 22px;
	color:#ffffff;
	line-height: 28px;
	font-weight: 400;
	padding: 20px 0;
	margin: 0; 
}

.quiz-box .option-container .option{
	background-color: #cccccc;
	padding: 15px;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: capitalize;
}
.quiz-box .btn{
	margin: 15px 0;

}
.quiz-box .answer-indicator{
	border-top: 3px solid #cccccc;
	}
.quiz-box .answer-indicator div{
	height: 40px;
	width: 40px;
	display: inline-block;
	background-color: #cccccc;
	border-radius: 50%;
	margin-right: 3px;
	margin-top: 5px;


}

